# ignore the virtual environment
venv/*
# ignore the folder that is used by PyCharm
.idea/*
# ignore dist folder
dist/*
# ignore py cache
fstat_cache/__pycache__/*
# ignore pycache from tests
tests/__pycache__/*
# ignore the log file
fstat_cache/fstat-cache.log
